@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Atkinson';
    src: url('/tech-blog/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Atkinson';
    src: url('/tech-blog/fonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'Atkinson', sans-serif;
    @apply text-blog-dark bg-blog-light;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-blog-dark;
  }
  
  a {
    @apply text-blog-primary hover:text-blog-secondary;
  }
}

@layer components {
  .prose {
    @apply max-w-none;
  }
  
  .prose p {
    @apply mb-8;
  }
  
  .prose code {
    @apply px-2 py-1 bg-gray-100 rounded;
  }
  
  .prose pre {
    @apply p-6 rounded-lg;
  }
  
  .prose blockquote {
    @apply border-l-4 border-blog-primary pl-5 italic;
  }
}